# Build
/build/
/dist/
/styleguide/

# dependencies
/node_modules

# conditionalwrapper
.DS_STORE

# StoryBook
.awcache/*
storybook-static/*

# .env
.env.dev
.env.prod

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# webstorm
.idea/
*.iml
